<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>
  <session-factory name="hibernate.cfg.xml">
    <!-- SQL Dialect -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
    <!-- Database Connection Settings -->
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/SIAS</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">dielsale</property>
    <property name="show_sql">true</property>
    <!-- Specifying Session Context -->
    <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
    <!-- Mapping With Model Class Containing Annotations -->
    <mapping class="dielsale.sias.modelo.Usuario" file="" jar="" package="" resource=""/>
    <mapping class="dielsale.sias.modelo.Fallecimiento" file="" jar="" package="" resource=""/>
    <mapping class="dielsale.sias.modelo.Atencion" file="" jar="" package="" resource=""/>
    <mapping class="dielsale.sias.modelo.Desempleo" file="" jar="" package="" resource=""/>
    <mapping class="dielsale.sias.modelo.Bitacora" file="" jar="" package="" resource=""/>
    <mapping class="dielsale.sias.modelo.Acceso" file="" jar="" package="" resource=""/>
  </session-factory>
</hibernate-configuration>